#body {
    display: grid;
    grid-auto-rows: 150px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 25px;
    padding: 20px;
}

#chapter {
    padding: 10px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}